:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --primary-black-color: #000000;
  --secondary-black-color: #2f303a;
  --btn-hero-color: #188ce8;
  --card-border-color: #eeeeee;
  --header-border-color: #ececec;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  height: 100%;
  background-color: var(--primary-white-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.wraper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container--flex {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.background-color--black {
  background-color: var(--secondary-black-color);
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: inherit;
}

.btn-main {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio__btn {
  padding: 6px 22px;
  background-color: var(--secondary-white-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0), 0px 1px 2px rgba(0, 0, 0, 0), 0px 2px 2px rgba(0, 0, 0, 0);
  transition: color 250ms var(--transition-cubic), background-color 250ms var(--transition-cubic), box-shadow 250ms var(--transition-cubic);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-hero__btn {
  padding: 10px 32px;
  align-items: center;
  text-align: center;
}

.subscribe__btn {
  position: relative;
  margin-left: 12px;
  padding: 10px 28px;
  fill: var(--primary-white-color);
}
.subscribe__btn__label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe__btn__text {
  width: 110px;
  margin-right: 10px;
}

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.site-nav {
  margin-left: 93px;
}

.site-nav__list {
  display: inline-flex;
}

.site-nav__item {
  display: flex;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--transition-cubic);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.contact-list {
  display: inline-flex;
  margin-left: auto;
}

.contact-list__item {
  display: flex;
}
.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__icon {
  margin-right: 10px;
}

.contact-list__link {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: var(--text-color);
  transition: fill 250ms var(--transition-cubic), color 250ms var(--transition-cubic);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.logo {
  width: 145px;
  padding: 0;
  margin: 0;
  color: var(--accent-color);
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  border: none;
  text-decoration: none;
}

.logo__text {
  color: var(--primary-black-color);
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.page-footer__logo__text {
  color: var(--primary-white-color);
}

.page-footer__logo__link {
  display: flex;
  padding-top: 0px;
  margin-bottom: 20px;
}

.page-main {
  flex: 1 1 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--top {
  padding-top: 0;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-hero {
  width: 100%;
  text-align: center;
}

.container-hero--padding {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-hero--overlay {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.features__icon {
  display: inline-flex;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-white-color);
  border-radius: 4px;
}

.features__item {
  width: calc((100% - 90px) / 4);
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

.do__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.do__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.do__item {
  width: calc((100% - 60px) / 3);
  position: relative;
  padding: 0;
}

.do__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-white-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}

.team__item {
  width: calc((100% - 90px) / 4);
  height: 100%;
}

.team__card__photo {
  width: 100%;
  max-height: 260px;
  object-fit: cover;
}

.team__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card__text {
  padding-bottom: 16px;
  padding-top: 30px;
}

.team__card__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__card__position {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  fill: #afb1b8;
  transition: background-color 250ms var(--transition-cubic), fill 250ms var(--transition-cubic);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.social-list__link--bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer__social-list {
  padding: 0;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__link {
  display: inline-flex;
  width: 100%;
  padding: 17px 0;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  background-color: var(--secondary-white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms var(--transition-cubic), border 250ms var(--transition-cubic);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__item {
  display: flex;
  width: calc((100% - 150px) / 6);
}

.page-footer {
  background-color: var(--secondary-black-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container--footer {
  display: flex;
  justify-content: space-between;
}

.info-wraper {
  display: flex;
  width: 50%;
}

.page-footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.adress-list__item {
  margin-top: 0;
}
.adress-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-list__contact {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-contact-color);
  transition: color 250ms var(--transition-cubic);
}
.adress-list__contact:hover, .adress-list__contact:focus {
  color: var(--accent-color);
}

.adress-list__contact--reverse {
  color: var(--primary-white-color);
  transition: color 250ms var(--transition-cubic);
}

.join {
  padding-top: 15px;
  margin: 0 auto;
}

.subscribe {
  width: 50%;
  padding-left: 15px;
  padding-top: 15px;
}
.subscribe__box {
  display: flex;
}

.subscribe__input {
  width: calc(100% - 212px);
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--secondary-black-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe__input::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}/*# sourceMappingURL=main.css.map */