:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --primary-black-color: #000000;
  --secondary-black-color: #2f303a;
  --btn-hero-color: #188ce8;
  --card-border-color: #eeeeee;
  --header-border-color: #ececec;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  height: 100%;
  background-color: var(--primary-white-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.wraper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-main {
  flex: 1 1 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* header */

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

/* logo */

.logo {
  width: 145px;
  border: 0;
}

.logo-link {
  color: var(--accent-color);
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;
}

.logo-header {
  color: var(--primary-black-color);

  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;
}

.logo-footer {
  color: var(--primary-white-color);

  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;
}

/* site nav */

.container.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: inline-flex;
  padding-top: 31px;
  padding-bottom: 31px;
}

.nav {
  margin-left: 93px;
}

.site-nav .item-nav:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;

  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--transition-cubic);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.item-nav .link.current {
  color: var(--accent-color);
}

.item-nav .link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background: var(--accent-color);
}

/* contacts */

.contact-list {
  display: inline-flex;
  margin-left: auto;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
}

.contact-list .contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-item .contact {
  display: inline-flex;
  align-items: center;
  vertical-align: text-bottom;

  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: var(--text-color);

  transition: fill 250ms var(--transition-cubic),
    color 250ms var(--transition-cubic);
}

.contact-list .contact:hover,
.contact-list .contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Hero */

.section-hero {
  background-color: var(--secondary-black-color);
  text-align: center;
}

.hero {
  height: 600px;
}

.overlay {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-hero h1 {
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* buttons */

.btn-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.btn-list .item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;

  background-color: var(--secondary-white-color);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-btn {
  display: flex;
  justify-content: center;
}

.btn-hero {
  display: inline-flex;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;

  background-color: var(--btn-hero-color);
  color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  align-items: center;
  text-align: center;

  transition: background-color 250ms var(--transition-cubic);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--btn-hero-color);
}

/* features */

.features-list {
  display: flex;
  align-items: baseline;
}

.icon-features {
  display: inline-flex;
  width: 270px;
  height: 120px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-white-color);
  border-radius: 4px;
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .item {
  width: 270px;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
}

.features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

/* what we do */

.do {
  padding-top: 0;
}

.list-do {
  display: flex;
  align-items: center;
}

.list-do .item-do:not(:last-child) {
  margin-right: 30px;
}

.item-do img {
  display: block;
}

.item-do {
  position: relative;
  padding: 0;
}

.title-do {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */

.team {
  background-color: var(--secondary-white-color);
}

.card-team {
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-text {
  padding-bottom: 16px;
  padding-top: 30px;
}

.team-list {
  display: flex;
  align-items: center;
  width: 270px;
  text-align: center;
}

.item img {
  display: block;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.card-team .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
}

/* social */

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  fill: #afb1b8;

  transition: background-color 250ms var(--transition-cubic),
    fill 250ms var(--transition-cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.social-list .item:not(:last-child) {
  margin-right: 10px;
}

/* clients */

.clients-list {
  display: flex;
  align-items: center;
}

.item-clients .icon {
  display: inline-flex;
  width: 170px;
  height: 92px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;

  fill: #afb1b8;
  background-color: var(--secondary-white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms var(--transition-cubic),
    border 250ms var(--transition-cubic);
}

.item-clients:not(:last-child) {
  margin-right: 30px;
}

.clients-link .icon:hover,
.clients-link .icon:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* footer */

.page-footer {
  background-color: var(--secondary-black-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.footer {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.footer-item-logo {
  display: flex;
  padding-top: 0px;
  margin-bottom: 20px;
}

.adress-list .item {
  margin-top: 0;
}

.adress-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-link {
  color: var(--primary-white-color);

  transition: color 250ms var(--transition-cubic);
}

.adress-contact {
  color: var(--footer-contact-color);

  transition: color 250ms var(--transition-cubic);
}

.adress-list a:hover,
.adress-list a:focus {
  color: var(--accent-color);
}

.adress-list a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  text-decoration: none;
}

/* join in footer */

.footer-join-marg {
  margin-left: 70px;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;

  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.bg-join {
  background-color: rgba(255, 255, 255, 0.1);
}

/* subscribe */

.subscribe {
  margin-left: 93px;
}

.subscribe-box {
  display: flex;
}

.subscribe-box input {
  width: 358px;
  height: 50px;
  
  color: var(--primary-white-color);
  background-color: var(--secondary-black-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-box input::placeholder {
  padding-left: 16px;
  
  font-size: 16px;
  line-height: 1.25;
  
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: inline-block;
  cursor: pointer;
  
  position: relative;
  margin-left: 12px;
  padding: 0;
  
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.subscribe-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 28px;

  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.subscribe-text-btn {
  width: 110px;
  margin-right: 10px;

}

/* portfolio */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 30 * 2) / 3);
}

.portfolio-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-portfolio-text {
  box-sizing: content-box;
  border: 1px solid var(--card-border-color);

  padding: 20px 24px;
}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-link .portfolio-title {
  margin-top: 0px;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-link .portfolio-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

.item.portfolio-card {
  transition: box-shadow 250ms var(--transition-cubic);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 63px 24px;

  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  text-align: left;

  transform: translate(-50%, -50%) translateY(100%);
  transition: transform 250ms var(--transition-cubic);
}

.item.portfolio-card:hover .portfolio-overlay-card,
.item.portfolio-card:focus .portfolio-overlay-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transform: translate(-50%, -50%) translateY(0);
}

.portfolio-link {
  text-decoration: none;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--transition-cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--transition-cubic);
}

.modal-form {
  padding: 40px;
}

.modal-form h2 {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}

.form-field .form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 12px 42px 12px 42px;
  
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--transition-cubic);
}

.modal-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  transition: fill 250ms var(--transition-cubic);
}

.form-input:focus-within,
.form-textarea:focus-within {
  border-color: var(--accent-color);
}

.form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.form-label {
  margin-bottom: 4px;
  padding: 0;
  
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
}

.form-field .form-textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: outline 250ms var(--transition-cubic);
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.71;
}

.check-label a {
  color: var(--accent-color);
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8.38px;
  width: 15px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
}

.form-checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border: none;
}

.modal-form .form-btn {
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: inherit;
  background-color: #2196F3;
  color: var(--primary-white-color);
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: none;
  border-radius: 4px;
}

.close {
  display: inline-flex;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;

  transition: fill 250ms var(--transition-cubic);
}

.close:hover {
  fill: var(--accent-color);
}