.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .container--footer {
    display: flex;
    justify-content: space-between;
  }
  
  .info-wraper {
    display: flex;
    width: 50%;
  }
  
  .page-footer__title{
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    color: var(--primary-white-color);
  }

  .adress-list__item {
    margin-top: 0;

      &:not(:last-child) {
        margin-bottom: 9px;
      }
  }
  
  .adress-list__contact {
    text-decoration: none;
  
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-contact-color);
  
    transition: color 250ms var(--transition-cubic);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .adress-list__contact--reverse {
    color: var(--primary-white-color);
  }

  .join {
    padding-top: 15px;
    margin: 0 auto;
  }
  
  .subscribe {
    width: 50%;
    padding-left: 15px;
    padding-top: 15px;
  
    &__box {
      display: flex;
    }
  }
  
  .subscribe__input {
    width: calc(100% - 212px);
    height: 50px;
    padding: 15px 16px;
    
    color: var(--primary-white-color);
    background-color: var(--secondary-black-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      
      color: rgba(255, 255, 255, 0.6);
    }
  }