.page-header {
    border-bottom: 1px solid var(--header-border-color);
  }

  .site-nav {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 31px;
    margin-left: 93px;
  }

  .site-nav__list {
    display: inline-flex;
  }

  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav__link {
    position: relative;
  
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  
    transition: color 250ms var(--transition-cubic);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }